@model IReadOnlyCollection<BookModel>

@{
    ViewData["Title"] = "Магазин";
}

<h2>Список книг</h2>

<table class="table table-sm table-striped">
    <thead class="table-primary">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Автор</th>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var book in Model)
        {
            <tr>
                <td class="text">@(i++)</td>
                <td>@book.Author</td>
                <td>
                    <a href="@Url.Action("Index","Book",new {Id=book.Id})">@book.Title</a>
                </td>
                <td>@book.Price</td>
                <td>
                    <form action="@Url.Action(nameof(OrderController.AddItem),"Order")" method="post">
                        <input name="bookId" type="hidden" value="@book.Id" />
                        <button class="btn btn-outline-primary" type="submit">В корзину</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>