<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - интернет магазин на C#</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Store.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Интернет-магазин на C#</a>
                <form class="d-flex" action="@Url.Action("Index", "Search")" method="get">
                    <input class="form-control me-2" type="search" name="query" placeholder="автор или название" />
                    <button class="btn btn-outline-success" type="submit">Искать</button>
                </form>
                <span class="navbar-text m-lg-auto">
                    @{
                        Cart cart;
                        if (Context.Session.TryGetCart(out cart)&& cart.TotalCount>0)
                        {
                            <a href="">Товаров @cart.TotalCount на сумму @cart.TotalPrice</a>
                        }
                        else
                        {
                            @:Корзина пуста
                        }
                    }
                </span>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
