@model OrderModel
@{
    ViewData["Title"] = "Корзина";
}
<h1>Корзина</h1>

<table class="table table-sm table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Автор</th>
            <th scope="col">Название</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for(int i=0; i<Model.Items.Length;i++)
        {
            <tr>
                <td class="text">@(i+1)</td>
                <td>@Model.Items[i].Author</td>
                <td>@Model.Items[i].Title</td>
                <td class="text-end">@Model.Items[i].Count</td>
                <td class="text-end">@Model.Items[i].Price</td>
                <td class="text-center">
                    <form class="form-check-inline" method="post" action="@Url.Action("RemoveItem","Order")">
                        <input name="bookId" type="hidden" value="@Model.Items[i].BookId">
                        <button class="btn btn-outline-danger" type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-end">Итого</td>
            <td class="text-end">@Model.TotalCount</td>
            <td class="text-end">@Model.TotalPrice</td>
        </tr>
    </tfoot>
</table>